/node_modules
/dist
/.devcontainer
/.github
/.vscode
/.pnpm-store
**/*.spec.ts
.dockerignore
.gitignore
Dockerfile
README.md
eslint.config.mjs
.prettierrc
.DS_Store
.env*
main.db*
drizzle.config.ts
.npmrc
